--Use DatabaseName; --Replace with your desired database name

-----------------------------------------------------------------------------------------------------------------------------------------------------
--The script will walk through to insert van Walraven and Elixhauser ontology into I2B2 Ontology tables
--author: Syed et al.
--copyright (C) Dept of Biomedical Informatics, UAMS. 
-----------------------------------------------------------------------------------------------------------------------------------------------------


---I2B2 Taxonomy/Ontology for van Walraven  
insert into table [I2B2_server_name].[i2b2metadata_database_name].[dbo].[ontology_vanWalraven] 
-- Change the I2B2_server_name to server that host I2B2, 
-- change i2b2metadata_database_name to the database that holds ontology table.
-- Change the table name from "ontology_elixhauser" to your specific ontology table.
(
	  C_HLEVEL,C_FULLNAME,C_NAME,C_SYNONYM_CD,C_VISUALATTRIBUTES,C_FACTTABLECOLUMN,
	  C_TABLENAME,C_COLUMNNAME,C_COLUMNDATATYPE,C_OPERATOR,C_DIMCODE,C_TOOLTIP,
	  UPDATE_DATE,DOWNLOAD_DATE,IMPORT_DATE, SOURCESYSTEM_CD
)
Select 0 as c_hlevel, '\van Walraven\' as c_fullname, 'van Walraven' as c_name, 'N' as c_synonym_cd, 'FA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, 'van Walraven\'  as c_dimcode, 'van Walraven' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\0-5 score\' as c_fullname, 'van Walraven\0-5 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '0 and 5'  as c_dimcode, 'van Walraven\0-5 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\6-10 score\' as c_fullname, 'van Walraven\6-10 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '6 and 10'  as c_dimcode, 'van Walraven\6-10 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\11-15 score\' as c_fullname, 'van Walraven\11-15 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '11 and 15'  as c_dimcode, 'van Walraven\11-15 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\16-20 score\' as c_fullname, 'van Walraven\16-20 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '16 and 20'  as c_dimcode, 'van Walraven\16-20 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\21-25 score\' as c_fullname, 'van Walraven\21-25 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '21 and 25'  as c_dimcode, 'van Walraven\21-25 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\>25 score\' as c_fullname, 'van Walraven\>25 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, '>' C_OPERATOR, '25'  as c_dimcode, 'van Walraven\>25 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\-6 and -10 score\' as c_fullname, 'van Walraven\-6 and -10 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '-10 and -6'  as c_dimcode, 'van Walraven\-6 and -10 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\-5 and -1 score\' as c_fullname, 'van Walraven\-5 and -1 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '-5 and -1'  as c_dimcode, 'van Walraven\-5 and -1 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\-11 and -15 score\' as c_fullname, 'van Walraven\-11 and -15 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '-15 and -11'  as c_dimcode, 'van Walraven\-11 and -15 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\-16 and -20 score\' as c_fullname, 'van Walraven\-16 and -20 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '-20 and -16'  as c_dimcode, 'van Walraven\-16 and -20 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\-21 and -25 score\' as c_fullname, 'van Walraven\-21 and -25 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, 'BETWEEN' C_OPERATOR, '-25 and -21'  as c_dimcode, 'van Walraven\-21 and -25 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\van Walraven\<-25 score\' as c_fullname, 'van Walraven\<-25 score' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'patient_num'  C_FACTTABLECOLUMN, 'patient_dimension'  C_TABLENAME, 'vw_score'  C_COLUMNNAME, 'N' as  C_COLUMNDATATYPE, '<' C_OPERATOR, 'van Walraven\<-25 score\'  as c_dimcode, 'van Walraven\<-25 score' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'van Walraven' SOURCESYSTEM_CD

---I2B2 Taxonomy/Ontology for Elixhauser.  
insert into table [I2B2_server_name].[i2b2metadata_database_name].[dbo].[ontology_elixhauser] 
-- Change the I2B2_server_name to server that host I2B2, 
-- change i2b2metadata_database_name to the database that holds ontology table.
-- Change the table name from "ontology_elixhauser" to your specific ontology table.
(
	  C_HLEVEL,C_FULLNAME,C_NAME,C_SYNONYM_CD,C_VISUALATTRIBUTES,C_FACTTABLECOLUMN,
	  C_TABLENAME,C_COLUMNNAME,C_COLUMNDATATYPE,C_OPERATOR,C_DIMCODE,C_TOOLTIP,
	  UPDATE_DATE,DOWNLOAD_DATE,IMPORT_DATE, SOURCESYSTEM_CD
)
Select 0 as c_hlevel, '\Elixhauser\' as c_fullname, 'Elixhauser' as c_name, 'N' as c_synonym_cd, 'FA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\'  as c_dimcode, 'Elixhauser' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\AIDS\' as c_fullname, 'AIDS' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\AIDS\'  as c_dimcode, 'Elixhauser\AIDS' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\ALCOHOL\' as c_fullname, 'ALCOHOL' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\ALCOHOL\'  as c_dimcode, 'Elixhauser\ALCOHOL' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\ANEMDEF\' as c_fullname, 'ANEMDEF' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\ANEMDEF\'  as c_dimcode, 'Elixhauser\ANEMDEF' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\ARTH\' as c_fullname, 'ARTH' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\ARTH\'  as c_dimcode, 'Elixhauser\ARTH' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\BLDLOSS\' as c_fullname, 'BLDLOSS' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\BLDLOSS\'  as c_dimcode, 'Elixhauser\BLDLOSS' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\CHF\' as c_fullname, 'CHF' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\CHF\'  as c_dimcode, 'Elixhauser\CHF' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\CHRNLUNG\' as c_fullname, 'CHRNLUNG' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\CHRNLUNG\'  as c_dimcode, 'Elixhauser\CHRNLUNG' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\COAG\' as c_fullname, 'COAG' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\COAG\'  as c_dimcode, 'Elixhauser\COAG' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\DEPRESS\' as c_fullname, 'DEPRESS' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\DEPRESS\'  as c_dimcode, 'Elixhauser\DEPRESS' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\DM\' as c_fullname, 'DM' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\DM\'  as c_dimcode, 'Elixhauser\DM' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\DMCX\' as c_fullname, 'DMCX' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\DMCX\'  as c_dimcode, 'Elixhauser\DMCX' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\DRUG\' as c_fullname, 'DRUG' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\DRUG\'  as c_dimcode, 'Elixhauser\DRUG' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\HTN_C\' as c_fullname, 'HTN_C' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\HTN_C\'  as c_dimcode, 'Elixhauser\HTN_C' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\HYPOTHY\' as c_fullname, 'HYPOTHY' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\HYPOTHY\'  as c_dimcode, 'Elixhauser\HYPOTHY' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\LIVER\' as c_fullname, 'LIVER' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\LIVER\'  as c_dimcode, 'Elixhauser\LIVER' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\LYMPH\' as c_fullname, 'LYMPH' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\LYMPH\'  as c_dimcode, 'Elixhauser\LYMPH' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\LYTES\' as c_fullname, 'LYTES' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\LYTES\'  as c_dimcode, 'Elixhauser\LYTES' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\METS\' as c_fullname, 'METS' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\METS\'  as c_dimcode, 'Elixhauser\METS' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\NEURO\' as c_fullname, 'NEURO' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\NEURO\'  as c_dimcode, 'Elixhauser\NEURO' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\OBESE\' as c_fullname, 'OBESE' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\OBESE\'  as c_dimcode, 'Elixhauser\OBESE' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\PARA\' as c_fullname, 'PARA' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\PARA\'  as c_dimcode, 'Elixhauser\PARA' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\PERIVASC\' as c_fullname, 'PERIVASC' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\PERIVASC\'  as c_dimcode, 'Elixhauser\PERIVASC' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\PSYCH\' as c_fullname, 'PSYCH' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\PSYCH\'  as c_dimcode, 'Elixhauser\PSYCH' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\PULMCIRC\' as c_fullname, 'PULMCIRC' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\PULMCIRC\'  as c_dimcode, 'Elixhauser\PULMCIRC' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\RENLFAIL\' as c_fullname, 'RENLFAIL' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\RENLFAIL\'  as c_dimcode, 'Elixhauser\RENLFAIL' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\TUMOR\' as c_fullname, 'TUMOR' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\TUMOR\'  as c_dimcode, 'Elixhauser\TUMOR' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\ULCER\' as c_fullname, 'ULCER' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\ULCER\'  as c_dimcode, 'Elixhauser\ULCER' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\VALVE\' as c_fullname, 'VALVE' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\VALVE\'  as c_dimcode, 'Elixhauser\VALVE' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\WGHTLOSS\' as c_fullname, 'WGHTLOSS' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\WGHTLOSS\'  as c_dimcode, 'Elixhauser\WGHTLOSS' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
Select 1 as c_hlevel, '\Elixhauser\ARRHYTH\' as c_fullname, 'ARRHYTH' as c_name, 'N' as c_synonym_cd, 'LA' as c_visualattributes, 'concept_cd'  C_FACTTABLECOLUMN, 'concept_dimension'  C_TABLENAME, 'concept_path'  C_COLUMNNAME, 'T' as  C_COLUMNDATATYPE, 'LIKE' C_OPERATOR, '\Elixhauser\ARRHYTH\'  as c_dimcode, 'Elixhauser\ARRHYTH' as  c_tooltip, getdate() as UPDATE_DATE, getdate() as  DOWNLOAD_DATE, getdate() as  IMPORT_DATE, 'Elixhauser' SOURCESYSTEM_CD
